.eventBody{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;

}
.eventImg{
    width: 50%;
}

.eventImg img{
    width: 100%;
}

.eventDetails{
    width: 50%;
}