.best-seller-card-body{
    width: 80%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    position: relative;
}
.product-cart{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    border-radius: 11px;   
    background-color: white;
    height: 335px;
    }

    .best-seller-single-card{
        position: relative;
    }

  
.best_selling_details{
    background: #a83a3a;
    
    width: 100%;
    text-align: center;
}
.best_selling_details a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    
}

.card_inside{
    padding: 20px 20px 0 20px;
    position: absolute;
    top: 10px
}