.home-page-header{
    font-family: 'Jost', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 221, 221);
}
.img-field{
    width: 90%;
}
.banner-pic{
    width: 60%;
}
.header-Btn{
    border: none;
    color: white;
    background-color: #131118;
    padding: 15px 20px;
    border-radius: 10px;
    transition: 0.5s;
    margin-top: 20px;
}
.header-Btn:hover{
    background-color: #3c3c3d;
}
.page-header-chile p{
    font-size: 35px ;
}


@media only screen and (max-width: 700px){
    .page-header-chile{
        margin: 15px;
    }
    .page-header-chile p{
        font-size: 30px ;
    }
    .page-header-chile h1{
        font-size: 30px !important;
    }
    .page-header-chile button{
        margin: 0;
    }
}