.home-page-header{
    font-family: 'Jost', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 221, 221);
}
.img-field{
    width: 90%;
}
.banner-pic{
    width: 60%;
}
.header-Btn{
    border: none;
    color: white;
    background-color: #131118;
    padding: 15px 20px;
    border-radius: 10px;
    transition: 0.5s;
}
.header-Btn:hover{
    background-color: #3c3c3d;
}