.shoe-menu {
  visibility: visible;
  transition: 0.5s;
}
.side-list {
  color: white;
  border-radius: 11px;
  transition: 0.5s;
  position: relative;
}
.side-list h1 {
  margin-left: 10px;
  transition: 0.5s;
}
.side-list h1:hover {
  color: rgb(253, 113, 62);
}

.side-list p {
  margin-left: 10px;
  cursor: pointer;

  transition: 0.5s;
  /* background: red; */
  padding: 15px 10px;
  margin: 0;
  border-radius: 11px 0 0 11px;
}

.side-list p:hover {
  background-color: rgba(51, 51, 51, 0.562);
  color: darkorange;
}

.hide-menu {
  display: none;
  transition: 0.5s;
  z-index: 1;
}

.close-menu {
  transform: rotate(540deg);
  transition: 0.5s;
}

.open-menu {
  transform: rotate(360deg);
  transition: 0.5s;
}

.sideBer-main{
  width: 20%
}

@media only screen and (max-width: 1200px){
  .sideBer-main{
    width: 2  5%;
  }
}
@media only screen and (max-width: 700px){
  
}