.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Jost", sans-serif;
}
.nav-List-Item {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
}
#item-list {
  text-decoration: none;
  color: black;
  transition: 0.3s;
  padding: 6px 11px 3px 11px;
  border-radius: 4px 4px 0 0;
  border-bottom: 5px solid rgba(255, 0, 0, 0);
}

#item-list:hover {
  color: rgb(106, 66, 199);
  background-color: rgb(222, 208, 255);
}

#nav-List-Item li a.active {
  color: aqua;
}
.nav-item {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 25px;
}
#nev-btn {
  background-color: #131118;
  outline: none;
  border: 0;
  color: white;
  padding: 15px 20px;
  border-radius: 8px;
}
/* .show-menu{
    display: flex;
    justify-content: center;
} */
.onMenu {
  position: absolute;
  left: 0;
  /* transform: translate(-50%, -50%); */
  z-index: 20;
  transition: 0.5s;
}
.ofMenu {
  position: absolute;
  left: -100%;
   z-index: 20;
  transition: 1s;
}

.res-menu {
  visibility: hidden;
}
.ResNav {
  display: none;
}

.profilePic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.active-link {
  border-bottom: 3px solid rgb(106, 66, 199) !important;
  transform: scalex(1);
}

@media only screen and (max-width: 700px) {
  .nav-List-Item {
    visibility: hidden;
    flex-direction: column;
    position: absolute;
    background-color: rgb(196, 81, 81);
    padding: 40px 10px;
    top: 0;
  }

  /* .nav-List-Item-hidden{

    } */

  .res-menu {
    visibility: visible;
    font-size: 20px;
  }

  /* Res-Nav Css code */
  .ResNav {
    display: block;
    position: absolute;
    z-index: 200;
    top: 226px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../../../public/img/resnav.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px 0;
    width: 100%;
  }

  .ResNav-ul {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin: auto;
    padding: 0;
  }

  .ResNav-ul li {
    list-style: none;
    width: 100px;
    transition: 0.5s;
    background-color: #161516;
    color: white;
    text-align: center;
    padding: 15px 10px;
    border-radius: 11px;
  }

  .PRasNavOpen {
    visibility: visible;
  }
  .PRasNavClose {
    visibility: hidden;
  }

  .ResNav-ul a {
    text-decoration: none;
    color: white;
  }
}
