.evenMain{
    margin-left: 10px;
    width: 75%;
    /* height: calc(100vh - 50px); */
  
}
.event-image-item__btn-wrapper {
  position: absolute;
  top: 10px;
  left: 10px;
}

.event-image-item__btn-wrapper button {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background: #FBDD46;
  font-size: 15px;
  outline: none;
  border: none;
  color: white;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}
.even_image-item{
    position: relative;
    margin: 10px 0;
}
.picAddBtn{
 outline: none;   
 background-color: white;
 color: #F67E52;
 border: 1px solid #F67E52;
 padding: 9px 22px;
 border-radius: 8px;
 transition: 0.5s;
}

.picAddBtn:hover{
    background-color: #FBDD46;
    border: 1px solid #FBDD46;
    color: white;

}

.removeEventPicBtn{
     background: none;
  padding: 9px 24px;
  outline: none;
  border: 1px solid #F67E52;
  color: #F67E52;
  font-size: 12px;
  border-radius: 8px;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.removeEventPicBtn:hover{
    
  background-color: #ff4141;
  color: white;
  border: 1px solid #ff4141;
}

.emptyEvent {
  width: 70%;
  margin: auto;
 
  
}

