.manage_product_body{
    margin-left: 20px;
}
.imgSelectBtn{
    background-color: #17C1CB;
    padding: 20px 40px;
    outline: none;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 11px;
    transition: 0.5s;
    cursor: pointer;
}
.imgSelectBtn:hover{
    background-color: #03787e;
}
.imgArea{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.image-item{
    position: relative;
}
.image-item__btn-wrapper{
    position: absolute;
    top: 10px;
    right: 10px;
}
.image-item__btn-wrapper button{
    background: #17C1CB;
    font-size: 20px;
    outline: none;
    border: none;
    color: white;
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
}
.image-item__btn-wrapper button:hover{
    background-color: #ff4141;
}
.removeAllImgBtn{
    background-color: #17C1CB;
    padding: 20px 40px;
    outline: none;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 11px;
    transition: 0.5s;
    cursor: pointer;

}
.removeAllImgBtn:hover{
    background-color: #ff4141;
}
.productUpArea{
    display: flex;
    width: 100%;
}
.productDescription{
    width: 50%;
}