.manage_product_body{
    margin-left: 20px;
}
.imgSelectBtn{
    background: none;
    padding: 9px 24px;
    outline: none;
    border: none;
    border: 1px solid #6A42C7;
    color: #8a64e5;
    font-size: 12px;
    border-radius: 8px;
    transition: 0.5s;
    cursor: pointer;
}
.imgSelectBtn:hover{
    background-color: #6A42C7;
    color: white;
}
.imgArea{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 4px;
}

.image-item{
    position: relative;
}
.image-item__btn-wrapper{
    position: absolute;
    top: 10px;
    right: 10px;
}
.image-item__btn-wrapper button{
    background: #6A42C7;
    font-size: 15px;
    outline: none;
    border: none;
    color: white;
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
}
.image-item__btn-wrapper button:hover{
    background-color: #ff4141;
}
.removeAllImgBtn{
    background: none;
    padding: 9px 24px;
    outline: none;
    border: none;
    border: 1px solid #6A42C7;
    color: #8a64e5;
    font-size: 12px;
    border-radius: 8px;
    transition: 0.5s;
    cursor: pointer;

}
.removeAllImgBtn:hover{
    background-color: #ff4141;
    color: white;
    border:1px solid #ff4141;
}
.productUpArea{
    display: flex;
    width: 100%;
}
.productDescription{
    width: 50%;
}