.evenMain{
    margin-left: 10px;
    width: 75%;
    /* height: calc(100vh - 50px); */
  
}

.evenMain input{
  margin-bottom: 10px;
}
.event-image-item__btn-wrapper {
  position: absolute;
  top: 10px;
  left: 10px;
}


.upload__image-wrapper.hasImages {
  display: grid;
  cursor: pointer;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}
.event-image-item__btn-wrapper p {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background: #FBDD46;
  font-size: 15px;
  outline: none;
  border: none;
  color: white;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
  padding: 0 5px;
}
.even_image-item{
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
}
.even_image-item img {
    width: 100%;
    height: 250px; 
    object-fit: cover; 
}
.picAddBtn{
     outline: none;   
    background-color: white;
    color: #F67E52;
    border: 1px solid #F67E52;
    padding: 9px 22px;
    border-radius: 8px;
    transition: 0.5s;
    width: 20%;
    text-align: center;
    cursor: pointer;
    
}
.againAdd{
     outline: none;   
    background-color: white;
    color: #F67E52;
    border: 1px solid #F67E52;
    padding: 9px 22px;
    border-radius: 8px;
    text-align: center;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;

}

.picAddBtn:hover{
    background-color: #FBDD46;
    border: 1px solid #FBDD46;
    color: white;

}

.againAdd:hover{
 background-color: #FBDD46;
    border: 1px solid #FBDD46;
    color: white;
}

.removeEventPicBtn{
     background: none;
  padding: 9px 24px;
  outline: none;
  border: 1px solid #F67E52;
  color: #F67E52;
  font-size: 12px;
  border-radius: 8px;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.removeEventPicBtn:hover{
    
  background-color: #ff4141;
  color: white;
  border: 1px solid #ff4141;
}



.eventDetailsArea{
  font-family: "Libertinus Serif Display", system-ui;
  width: 50%;
  height: 20vh ;
  margin-bottom: 10px;
  background-color: #fae3727d;
  border: 1px solid #ffde36;
  color: #705d00;
  outline: none;
}
.eventInput{
  font-family: "Libertinus Serif Display", system-ui;
  background-color: #fae3727d;
  border: 1px solid #ffde36;
  color: #705d00;
}
.event-condition-area{
  font-family: "Libertinus Serif Display", system-ui;
    width: 30%;
  height: 20vh ;
  background-color: #fae3727d;
  border: 1px solid #ffde36;
  color: #705d00;
  outline: none;
}
.eventSubmitBtn{
  color: #705d00;
  cursor: pointer;
  margin-top: 10px;
  background-color: #fae3727d;
  border: 1px solid #ffde36;
  transition: 0.3s;
  
}
.eventSubmitBtn:hover{
  color: white;
  background-color: #ffde36;
}

.loading{
   position: fixed;       
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;        
  background: rgba(0, 0, 0, 0.6); 
  display: flex;        
  align-items: center;
  justify-content: center;
  z-index: 9999;        
  color: white;          
  font-size: 24px;
  font-weight: bold;
}
.hold{
  display: none;
}