.evenMain{
    margin-left: 10px;
    width: 75%;
    /* height: calc(100vh - 50px); */
  
}
.event-image-item__btn-wrapper {
  position: absolute;
  top: 10px;
}

.event-image-item__btn-wrapper button {
  background: #6a42c7;
  font-size: 15px;
  outline: none;
  border: none;
  color: white;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}
.even_image-item{
    position: relative;
}
.picAddBtn{
 outline: none;   
 background-color: white;
 color: rgb(104, 196, 254);
 border: 1px solid rgb(104, 196, 254);
 padding: 9px 22px;
 border-radius: 8px;
 transition: 0.5s;
}

.picAddBtn:hover{
    background-color: rgba(104, 197, 254, 0.58);
    border: 1px solid rgba(104, 197, 254, 0.58);
    color: white;

}

.removeEventPicBtn{
     background: none;
  padding: 9px 24px;
  outline: none;
  border: 1px solid #6a42c7;
  color: #8a64e5;
  font-size: 12px;
  border-radius: 8px;
  transition: 0.5s;
  cursor: pointer;
}

.removeEventPicBtn:hover{
    
  background-color: #ff4141;
  color: white;
  border: 1px solid #ff4141;
}

.emptyEvent {
  width: 70%;
  margin: auto;
 
  
}

