.table-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 80px;
}
th {
  width: 150px;
  text-align: start;
}
td {
  width: 150px;
}

table{
    background-color: white;
    padding: 50px 70px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}