.event_list_main{
    margin-top: 10px;
}

.event_list{
    margin-bottom: 10px;
}

.event_content{
  display: flex;
  gap: 10px;
}

.event_Condition_area{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.delete-btn {
   border: 1px solid lightcoral;
  background: transparent;
  color: lightcoral;
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
  height: 33px;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.delete-btn:hover {
  background: lightcoral;
  color: white;
}
.event_title_area{
    display: flex;
    gap: 10px;
}

.event_title_area p{
    font-size: 20px;
    font-weight: bold;
}

.details_area{
  width: 50%;
}
.event_img {
  width: 50%;
  height: 300px;
  border-radius: 12px;
  overflow: hidden;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.event_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination,
.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}