.admin_product_table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  margin-top: 20px;
}

.admin_product_thead {
  background-color: #f2f2f2;
}

.admin_product_table th {
  padding: 12px 16px;
  border: 1px solid #ddd;
}
.admin_manage_product_details td {
  padding: 12px 16px;
  border: 1px solid #ddd;
}

.admin_manage_product_details {
  background-color: rgba(222, 120, 253, 0.1);
  transition: background-color 0.2s ease;
}

.admin_manage_product_details:hover {
  background-color: rgba(222, 120, 253, 0.2);
}
.action_edit_btn {
  background-color: rgba(192, 254, 98, 0.454);
  outline: none;
  padding: 5px 8px;
  border-radius: 4px;
  border: 1px rgb(69, 116, 0) solid;
  color: rgb(69, 116, 0);
  transition: 0.3s;
}
.action_edit_btn:hover {
  color: white;
  border: 1px rgb(153, 255, 0) solid;
  background-color: rgb(153, 255, 0);

  zoom: 1.1;
  z-index: 10;
}
.action_delete_btn {
  background-color: rgba(254, 98, 98, 0.454);
  outline: none;
  padding: 5px 8px;
  border-radius: 4px;
  border: 1px rgb(255, 0, 0) solid;
  color: rgb(255, 0, 0);
  transition: 0.3s;
  zoom: 0;
}

.action_delete_btn:hover {
  color: white;
  border: 1px rgb(255, 0, 0) solid;
  background-color: rgb(255, 0, 0);
  zoom: 1.1;
  z-index: 10;
}

/* .manage_product_admin_action_btn button {
  margin-right: 8px;
  padding: 6px 12px;
  background-color: #6200ee;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.manage_product_admin_action_btn button:hover {
  background-color: #4500b5;
}
   */
.admin_manage_product_details img {
  width: 50px;
  border-radius: 4px;
  transition: transform 0.3s ease;
}

.admin_manage_product_details img:hover {
  transform: scale(5);
  background-color: black;
  border-radius: 0;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.manage_product_admin_action_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  gap: 20px;

  position: relative;
}
