body{
    margin: 0;
    cursor: url('mouse.png');
    font-family: 'Jost', sans-serif;
}

body::-webkit-scrollbar {
    width: 5px;
  }

  body::-webkit-scrollbar-thumb {
    background-color: rgb(119, 211, 253); 
    border-radius: 20px; 
    border: 3px solid none;
  }