.detailAria{
    width: 50%;
}
.Discount_price_all_detail{
    margin-top: 10px;
    display: flex;
    gap: 20px;
}
.order_cart_btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart_btn{

}
.product_add_count{
    display: flex;
}