.profileBody{
    display: flex;
}
/* .profilePicture{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    
} */

.profileHeader{
    position: relative;
    height: 500px;
}
.profileBanner{
    background-image: url(../../public/img/profileBanner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 330px;
    width: 100%;
    position: absolute;
    z-index: -10;
}
.profileCommonInfo{
    position: absolute;
    bottom: 50px;
    left: 100px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.update_picture{
    visibility: hidden;
}
.portal_main_off{
    width: 100%;
    height: 100%;
    top:-600px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(176deg, rgba(2,0,36,1) 0%, rgba(181,128,223,1) 0%, rgba(226,226,226,0.2329306722689075) 59%, rgba(226,226,226,0.022846638655462215) 100%);
    transition: 0.5s;
}
.portal_main{
    width: 100%;
    height: 100%;
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: linear-gradient(176deg, rgba(2,0,36,1) 0%, rgba(181,128,223,1) 0%, rgba(226,226,226,0.2329306722689075) 59%, rgba(226,226,226,0.022846638655462215) 100%);
    transition: 0.5s;
}

.portal{
    position: fixed;
    z-index: 10;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 11px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 20%;
}
.profile_Picture_select::file-selector-button{
    background-image: linear-gradient(
    to right,
    rgba(181,128,223,1),
    rgba(2,0,36,1),
    #319197 100%,
    #319197 200%
  );
  background-position-x: 0%;
  background-size: 200%;
  border: 0;
  border-radius: 8px;
  color: #fff;
  padding: 1rem 1.25rem;
  text-shadow: 0 1px 1px #333;
  transition: all 0.25s;
}
.profile_Picture_select{
    margin-top: 18px;
    background-color: none!important;
    border: none !important;

}